body {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	background-color: rgb(220, 231, 247);
}
.intro {
	text-align: center;
	font-size: 50px;
	color: grey;
	border: 2px solid darkgray;
	margin-bottom: 10px;
	text-shadow: 2px 2px darkslateblue;
	box-shadow: 2px 2px darkslateblue;
}
#root {
	position: absolute;
	margin-left: 3%;
}

.App {
	box-sizing: border-box;
	width: 260px;
	height: auto;
	float: left;
	font-size: 12px;
}
.App .App2 {
	display: flex;
	font-size: 10px;
}

#container {
	box-sizing: border-box;
	height: 84px;
	border: 2px solid darkgray;
	margin: 5px;
	background-color: rgb(220, 226, 238);
	box-shadow: 3px 3px rgb(172, 193, 221);
}
